# You can override the included template(s) by including variable overrides
# SAST customization: https://docs.gitlab.com/ee/user/application_security/sast/#customizing-the-sast-settings
# Secret Detection customization: https://docs.gitlab.com/ee/user/application_security/secret_detection/#customizing-settings
# Dependency Scanning customization: https://docs.gitlab.com/ee/user/application_security/dependency_scanning/#customizing-the-dependency-scanning-settings
# Container Scanning customization: https://docs.gitlab.com/ee/user/application_security/container_scanning/#customizing-the-container-scanning-settings
# Note that environment variables can be set in several places
# See https://docs.gitlab.com/ee/ci/variables/#cicd-variable-precedence
# You can override the included template(s) by including variable overrides
# SAST customization: https://docs.gitlab.com/ee/user/application_security/sast/#customizing-the-sast-settings
# Secret Detection customization: https://docs.gitlab.com/ee/user/application_security/secret_detection/#customizing-settings
# Dependency Scanning customization: https://docs.gitlab.com/ee/user/application_security/dependency_scanning/#customizing-the-dependency-scanning-settings
# Container Scanning customization: https://docs.gitlab.com/ee/user/application_security/container_scanning/#customizing-the-container-scanning-settings
# Note that environment variables can be set in several places
# See https://docs.gitlab.com/ee/ci/variables/#cicd-variable-precedence
stages:
- playwright-pdf
- test
- variable
- build-projet
- playwright-test



sast:
  stage: test
include:
- template: Security/SAST.gitlab-ci.yml

default:
  image: node:18.16.0
  cache:
    key:
      files:
      - pnpm-lock.yaml
    paths:
      - .pnpm-store

.install_dependencies:
  before_script:
    - corepack enable
    - corepack prepare pnpm@latest-8 --activate
    - pnpm config set store-dir .pnpm-store
    - NODE_OPTIONS=--max-old-space-size=4096 pnpm install
    - nohup pnpm start &
    - sleep 60

.testCIPDF:
  image: guironne/tex-live-nodejs
  before_script:
    - NODE_OPTIONS=--max-old-space-size=4096 pnpm install
    - pnpm exec playwright install --with-deps chromium
    - nohup pnpm start &
    - sleep 60
  stage: playwright-pdf
  rules:
  - if: $CI_COMMIT_BRANCH == "guironne-jobs"
    when: always
  - if: $CI_PIPELINE_SOURCE == "schedule"
    when: always
  - when: never
  retry:
    max: 2
    when: runner_system_failure
  artifacts:
    when: always
    paths:
      - tests/e2e/logs
      - updatefile
    expire_in: 120 day

variable:
  stage: variable
  script:
  - echo "CI_COMMIT_BRANCH '$CI_COMMIT_BRANCH'"
  - echo "CI_OPEN_MERGE_REQUESTS '$CI_OPEN_MERGE_REQUESTS'"
  - echo "CI_PIPELINE_SOURCE '$CI_PIPELINE_SOURCE'"
  when: always

.testCI:
  extends: .install_dependencies
  image: mcr.microsoft.com/playwright:v1.42.1-jammy
  stage: playwright-test
  rules:
  - if: $CI_COMMIT_BRANCH == "main" && $CI_OPEN_MERGE_REQUESTS
    when: never
  - if: $CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "merge_request_event"
    when: always
  - if: $CI_COMMIT_BRANCH == "guironne-jobs"
    when: always
  - if: $CI_PIPELINE_SOURCE == "schedule"
    when: always
  - when: never
  retry:
    max: 2
    when: runner_system_failure
  artifacts:
    when: always
    paths:
      - tests/e2e/logs
    expire_in: 10 day

test6e:
  extends: .testCI
  script:
    - NIV=6e/6 pnpm test:e2e:console_errors

test5e:
  extends: .testCI
  script:
    - NIV=5e/5 pnpm test:e2e:console_errors

test4e:
  extends: .testCI
  script:
    - NIV=4e/4 pnpm test:e2e:console_errors

test3e:
  extends: .testCI
  script:
    - NIV=3e/3 pnpm test:e2e:console_errors

testCan:
  extends: .testCI
  script:
    - NIV=can pnpm test:e2e:console_errors

test6ePDF:
  extends: .testCIPDF
  script:
    - NIV=6e/6C10.js pnpm test:e2e:pdfexports

build:
  extends: .testCI
  stage: build-projet
  script:
    - NODE_OPTIONS=--max-old-space-size=4096 pnpm build
    - echo "$CI_COMMIT_AUTHOR"
  rules:
    - if: $CI_COMMIT_BRANCH == "main" && $CI_OPEN_MERGE_REQUESTS
      when: never
    - if: $CI_COMMIT_BRANCH == "main"
      when: always
    - if: $CI_COMMIT_BRANCH == "guironne-jobs"
      when: always
    - when: never
